[Desktop Entry]
Type=Application
Name=mystic-crypt-ui
GenericName=Crypto-Tool
Comment=application that provides public and private key creation and other cool crypto-tools
Exec=sh -c 'java -jar --add-opens java.base/java.time=ALL-UNNAMED ~/apps/mystic-crypt-ui/mystic-crypt-ui.jar'
Icon=~/apps/mystic-crypt-ui/img/icon.png
