<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mystic-crypt-ui/src/main/java/de/alpharogroup/mystic/crypt/SwingApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.alpharogroup.mystic.crypt.SpringBootSwingApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mystic-crypt-ui"/>
</launchConfiguration>
