<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootSwingApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="mystic-crypt-ui.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="io.github.astrapi69.mystic.crypt.SpringBootSwingApplication" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" value="1.8" />
    <option name="SHORTEN_COMMAND_LINE" value="NONE" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>